.login-container{
    width: 500px;
    height: 500px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

em.error.help-block {
    font-size: 13px;
    color: red;
    font-style: normal;
    font-family: monospace;
}

#login-form .col-sm-9 {
    text-align: left;
}