<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify Your Account</title>
    <link rel="stylesheet" href="/app-assets/common/css/bootstarp.min-4.1.css">
    <link rel="stylesheet" href="/admin-assets/css/verify.css">
    
</head>
<body>

    <div class="verify-container">
        <h1>Verifying your Account...</h1>
    </div>

    <script src="/app-assets/common/js/jquery.prod.js"></script>
    <script src="/app-assets/common/js/jquery-form-validator.js"></script>
    <script src="/app-assets/common/js/bootstrap.min-4.1.js"></script>
    <script src="/admin-assets/js/verify.js"></script>
    
</body>
</html>