<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="779676786167-531iimekdcflp59j6e558rgvbf1a7g3d.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyApp | Login</title>
    
    <link rel="stylesheet" href="/app-assets/common/css/bootstarp.min-4.1.css">
    <link rel="stylesheet" href="/admin-assets/css/login.css">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="card text-center">
                <div class="card-header">
                  Please login to continue: <code id="reqSrc"></code>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Login using registered email address</h5>
                    <form id="login-form" method="post" class="form-horizontal" action="">
                        <div class="row form-group">
                            <label class="col-sm-3 control-label" for="email">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="email" name="email" placeholder="example@domain.com" />
                                <div class="error-container"></div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label" for="pass">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="pass" name="pass" placeholder="Your Password" />
                                <div class="error-container"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" name="signup1" value="Sign up">Sign up</button>
                    </form>
                    
                    <div class="social-media-login">
                        <h5 class="card-title">Or,</h5>
                        <div style="display: inline-block;">
                            <!-- Google signin button for Auth2.0 signin functionalties -->
                            <div id="my-signin2"></div>
                        </div>
                        
                    </div>
                </div>
                <div class="card-footer text-muted">
                  <a href="/signup">
                        New user? signup here
                  </a>
                </div>
              </div>
        </div>
    </div>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="/app-assets/common/js/jquery.prod.js"></script>
    <script src="/app-assets/common/js/jquery-form-validator.js"></script>
    <script src="/app-assets/common/js/bootstrap.min-4.1.js"></script>
    
    <script>
        
        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }
        function onSuccess(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            // console.log('googleUser', googleUser);
            // console.log('profile', profile);
            
            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            // // console.log("ID Token: " + id_token);

        }

        function onFailure() {
            console.log('Fail to login to G+');
        }
    
    </script>

    <script src="/admin-assets/js/login.js"></script>
</body>
</html>